$transicion:all 1s;
#portada{

    img{
    width: 100%;
    }
}

#ubicacion{
    img{
        width: 100%;
        }   
}

#a-Botones{
    transition: $transicion;
}

#a-Botones:hover{
    transform: rotateZ(-30deg);
}


#boton__pagar{

    margin-left: 9.5rem;
}

@media only screen and (max-width: 1199px) and (min-width: 992px){
    #boton__pagar{
    margin-left: 4.5rem; 
    }  
}

@media(max-width: 991px) and (min-width: 769px)

{

    #boton__pagar{
        margin-left: 0rem;
        
    }
}
@media(max-width: 768px) and (min-width: 0px){


    #boton__pagar{
        margin-left: 0rem;
        margin-top: 1rem;
    }
}
    


