h1 {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

body {
  font-family: "mundo Peludo";
}

p {
  font-family: "parrafos";
}

footer p {
  font-family: "mundo Peludo";
}

/* Animaciones */
img {
  -webkit-transition: all 1s;
  transition: all 1s;
}

img:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

/*Footer*/
footer div ul {
  list-style: none;
  text-decoration: none;
}

footer a:link {
  text-decoration: none;
  color: #ff9e00;
}

footer a:visited {
  text-decoration: none;
  color: #ff9e00;
}

#portada img {
  width: 100%;
}

#ubicacion img {
  width: 100%;
}

#a-Botones {
  -webkit-transition: all 1s;
  transition: all 1s;
}

#a-Botones:hover {
  -webkit-transform: rotateZ(-30deg);
          transform: rotateZ(-30deg);
}

#boton__pagar {
  margin-left: 9.5rem;
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
  #boton__pagar {
    margin-left: 4.5rem;
  }
}

@media (max-width: 991px) and (min-width: 769px) {
  #boton__pagar {
    margin-left: 0rem;
  }
}

@media (max-width: 768px) and (min-width: 0px) {
  #boton__pagar {
    margin-left: 0rem;
    margin-top: 1rem;
  }
}

/*......VARIABLES....*/
/*......ETIQUETAS....*/
@font-face {
  font-family: "mundo Peludo";
  src: url(../fuente/Pacifico-Regular.ttf);
}

@font-face {
  font-family: "parrafos";
  src: url(../fuente/PTSerif-Regular.ttf);
}

/*......CLASES....*/
/*...Mapas / EACH...*/
.c-violeta {
  color: #3c096c;
}

.bg-violeta {
  background-color: #3c096c;
}

.c-naranja {
  color: #FF9E00;
}

.bg-naranja {
  background-color: #FF9E00;
}

.c-blanco {
  color: white;
}

.bg-blanco {
  background-color: white;
}

.main__Portada__margen {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.form__botones__margen {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h1 {
  font-family: "mundo Peludo";
}

h2 {
  font-family: "mundo Peludo";
}

h3 {
  font-family: "mundo Peludo";
}

h4 {
  font-family: "mundo Peludo";
}

h5 {
  font-family: "mundo Peludo";
}

h6 {
  font-family: "mundo Peludo";
}

.fuenteCarrito {
  font-family: "parrafos";
}

/*........Bloques.....*/
.main__Portada-SobreNosotros_margen {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.bgBotones__naranja {
  background-color: #FF9E00;
}

.botones__bordeRedondeado {
  border-radius: 20px;
}

.footer__iconos {
  font-size: 2rem;
}

.footer__backGround {
  background: radial-gradient(#3c096c, #FF9E00);
}

.main__carrusel, .banio__carrusel, .div__carrusel {
  background-color: white;
  margin: auto;
}

.main__carrusel {
  width: 100%;
  height: 40rem;
}

.main__carrusel img {
  width: 75%;
  height: 37.5rem;
}

.banio__carrusel {
  width: 100%;
  height: 50rem;
}

.banio__carrusel img {
  width: 100%;
  height: 50rem;
}

.div__carrusel {
  width: 50%;
  height: 20rem;
}

.div__carrusel img {
  width: 50%;
  height: 20rem;
}

.dropdown__menu--modifier {
  min-width: 3rem;
  font-size: 0.9rem;
}

.iframeBanio {
  width: 50%;
}

.marginRedes {
  margin-right: 5rem;
}

@media (max-width: 990px) {
  .marginRedes {
    margin-left: 2rem;
    margin-right: 0rem;
  }
  .enviar {
    margin-left: 2.8rem;
  }
  #novedades {
    margin-left: 1rem;
  }
  #email {
    margin-right: 2.6rem;
  }
  #copyRight {
    margin-left: 1rem;
  }
}

.img__banio {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.bg__404 {
  background-size: auto;
  background-image: url("../imagenes/404_1.jpg");
}

.home__404 {
  margin-left: 43.5%;
  margin-top: 14rem;
}
/*# sourceMappingURL=prueba.css.map */